:root {
    font-family: "Rubik", system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;   

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--white); 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 

    overflow-x: hidden;

    --blue: #075cef;
    --blue-gradient: linear-gradient(220deg,rgba(0, 64, 153, .85) 0%, rgba(0, 115, 255, 1) 100%);
    --light-blue: #bad2e6;
    --white: #eee;
    --dark: #242424;
    --text: rgba(0, 0, 0, 0.87);
    --line-height: 24px;
    --padding-bottom: 20px;
    --padding-top: 20px;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a, button {
    cursor: pointer;
}