@media (max-width: 480px) {
    .modal-error .modal-container {
        width: 95%;
    }
    .modal-error .modal-container .modal-content {
        padding: 20px 15px;
    }
    .modal-error .modal-container .modal-content p {
        font-size: 1rem;
    }
}