name: Build and Test

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
    workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  SQLX_VERSION: 0.8.6
  SQLX_FEATURES: "rustls,postgres"
  APP_USER: app
  APP_USER_PWD: secret
  APP_DB_NAME: ticketing
  TEST_LOG: enabled
  AWS_ACCESS_KEY_ID: access_key
  AWS_SECRET_ACCESS_KEY: secret_key
  POSTGRES_INITDB_ARGS: "-c max_connections=500"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
      redis:
        image: redis:8
        ports:
        - 6379:6379

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install the Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install sqlx-cli
        run:
          cargo install sqlx-cli
          --version=${{ env.SQLX_VERSION }}
          --features ${{ env.SQLX_FEATURES }}
          --no-default-features
          --locked

      - name: Create app user in Postgres
        run: |
          sudo apt-get install postgresql-client
          PGPASSWORD=password psql -h localhost -U postgres -c "CREATE USER ${{ env.APP_USER }} WITH PASSWORD '${{ env.APP_USER_PWD }}';"
          PGPASSWORD=password psql -h localhost -U postgres -c "CREATE DATABASE ${{ env.APP_DB_NAME }} OWNER ${{ env.APP_USER }};"

      - name: Migrate database
        run: |
          export DATABASE_URL=postgres://${{ env.APP_USER }}:${{ env.APP_USER_PWD }}@localhost:5432/${{ env.APP_DB_NAME }}
          sqlx migrate run
        working-directory: ./ticketing-system

      - name: Generate RSA keypair
        run: |
          openssl genpkey -algorithm RSA -out ticketing-system/keys/private.pem -pkeyopt rsa_keygen_bits:2048
          openssl rsa -pubout -in ticketing-system/keys/private.pem -out ticketing-system/keys/public.pem

      - name: Run tests
        run: |
          export DATABASE_URL=postgres://${{ env.APP_USER }}:${{ env.APP_USER_PWD }}@localhost:5432/${{ env.APP_DB_NAME }}
          cargo test
        working-directory: ./ticketing-system

      - name: Check that queries are fresh
        run: |
          export DATABASE_URL=postgres://${{ env.APP_USER }}:${{ env.APP_USER_PWD }}@localhost:5432/${{ env.APP_DB_NAME }}
          cargo sqlx prepare --workspace --check
        working-directory: ./ticketing-system